<!-- about.component.html -->

<section class="about">
  <h2>About Us</h2>
  <div class="about-content">
    <div class="about-section">
      <h3>Our Story</h3>
      <p><b>Welcome to our restaurant ..!</b></p>
      <p>We pride ourselves on delivering exceptional dining experiences with our delicious cuisine and welcoming
        atmosphere.</p>
    </div>
    <div class="about-section">
      <h3><img src="assets/mission1.png" height="45px" width="45px"> Mission and Vision</h3>
      <p>Our mission is to delight our guests with flavorful dishes made from the freshest ingredients and provide
        outstanding hospitality in a warm and inviting setting.</p>
    </div>
    <div class="about-section">
      <h3>Meet Our Team</h3>
      <ul>
        <li>Chef Rutuja Moholkar - Founder</li>
        <li>Jane Smith - Restaurant Manager</li>
        <li>David Johnson - Sous Chef</li>
        <li>Emily Brown - Head Waiter</li>
      </ul>
    </div>
    <div class="about-section">
      <h3><img src="assets/location.png" width="45px" height="45px">Location</h3>
      <p>We are conveniently located at 123 Main Street, Anytown, USA. Come visit us and experience our culinary
        delights!</p>
    </div>
  </div>
</section>