<!-- home.component.html -->

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<section class="hero">
  <div class="hero-content">
    <h1>Welcome to Our Restaurant</h1>
    <p>Experience the finest dining with our exquisite cuisine and exceptional service.</p>
    <a href="/products" class="btn btn-primary">View Menu</a>
  </div>
</section>

<section class="about">
  <div class="container">
    <h2>About Us</h2>
    <p>Discover the story behind our restaurant and meet the talented team dedicated to creating memorable dining
      experiences.</p>
    <a href="/about" class="btn btn-secondary">Learn More</a>
  </div>
</section>

<section class="gallery">
  <div class="container">
    <h2>Photo Gallery</h2>
    <div class="gallery-images">
      <img
        src="https://images.unsplash.com/photo-1544025162-d76694265947?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="food-images">
      <img
        src="https://media.istockphoto.com/id/1093661558/photo/indian-dish-chicken-tikka-masala.jpg?s=612x612&w=0&k=20&c=HyD_ak5-tCeEPooVnTnoCERfEKArb5s7KikTKe3ZoLU="
        alt="food-images">
      <img src="https://m.media-amazon.com/images/I/819P1q0lqUL.jpg" alt="Food Image">
      <img
        src="https://media.istockphoto.com/id/1962058066/photo/chef-smearing-sauce-on-prepared-salmon-steak.jpg?s=612x612&w=0&k=20&c=wraMRPLIIESjVMZzYpqM0MSVqeX2utuWlm46nu7vKfQ="
        alt="Food Image">
      <img
        src="https://media.istockphoto.com/id/959584318/photo/making-dinner-into-a-masterpiece.jpg?s=612x612&w=0&k=20&c=5sadZdufW-4j_ZmV3XM8KSZXRFcYRD-Nmh0vqTkIS7Y="
        alt="food-images">
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h2>About Us</h2>
        <p>We are a cozy restaurant located in the heart of the city. Our mission is to serve delicious meals made with
          fresh ingredients to our valued customers.</p>
        <div class="contact">
          <span><i class="fas fa-map-marker-alt"></i> 123 Main Street, Anytown, USA</span>
          <span><i class="fas fa-phone-alt"></i> +91 9356220266</span>
          <span><i class="fas fa-envelope"></i> moholkarrutuja93&#64;gmail.com</span>
        </div>
      </div>
      <div class="footer-section">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h2>Follow Us</h2>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>